/* 
    For parent 
        display: grid; || inline-grid
        grid-template-columns --> Number Of Columns + Size [Px,, %, auto, mix, 1fr]
            repeat(columns_nbr, size) --> repeat(3, auto)
            Fraction is grady --> Take All Space
            Auto is shy --> Take Just Space for Content
*/
* {
    box-sizing: border-box;
}

.parent {
    background-color: #eee;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(1, auto) repeat(2, 1fr);
}
.parent div {
    background-color: red;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 15px;
}
