/* 
    For parent 
        display: grid; || inline-grid
        grid-template-columns --> Number Of Columns + Size [Px,, %, auto, mix]
            repeat(columns_nbr, size) --> repeat(3, auto)
*/
* {
    box-sizing: border-box;
}

.parent {
    background-color: #eee;
    margin: 0 20px;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 100px repeat(5, 100px) 200px;
}
.parent div {
    background-color: red;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 15px;
}
